<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{'almanac:static/css/bootstrap.min.css'|static_path}}">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="{{'almanac:static/css/bootstrap-responsive.min.css'|static_path}}">
        <link rel="stylesheet" href="{{'almanac:static/css/main.css'|static_path}}">

        <script src="{{'almanac:static/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js'|static_path}}"></script>
    </head>
    <body>
        <!--[if lt IE 7]> <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p> <![endif]-->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <a class="brand" href="#">Nashville Tech Calendar</a>

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Overview</a></li>
                            <li><a href="{{'event.list'|route_path}}">Browse events</a></li>
                            <li><a href="{{'event.new'|route_path}}">Add an event</a></li>
                            <li><a href="#">Import events</a></li>
                            <li><a href="#">Browse venues</a></li>
                        </ul>

                        <form class="navbar-search pull-right">
                            <input type="text" class="search-query" placeholder="Search events">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}
            <div class="hero-unit">
                <h1>Hi there.</h1>
                <p>cal.nashvl.org is a unified <strong>calendar for the technology community of Nashville</strong>, TN. We are an all-volunteer effort and <strong>we encourage anyone to import, create, and edit events</strong>.</p>
                <p><a class="btn btn-primary btn-large" href="#">Add an event &raquo;</a></p>
            </div>

            <h2>What's happening?</h2>
            <div class="row">
                <div class="span4">
                    <h2>Today</h2>
                    <ol class="event-list today unstyled">
                        <li>
                            <a href="#" class="event-name">Pynash Lunch</a><br />
                            11:30am - 12:30pm<br />
                            <a href="#" class="event-venue">12th South Taproom</a>
                        </li>
                        <li>
                            <a href="#" class="event-name">NashMicro Users' Group Meeting</a><br />
                            6 - 9pm<br />
                            <a href="#" class="event-venue">Emma</a>
                        </li>
                        <li>
                            <a href="#" class="event-name">PhreakNIC 16</a><br />
                            noon through Sunday, November 11 at 1pm<br />
                            <a href="#" class="event-venue">Another Venue</a>
                        </li>
                    </ol>
                </div>
                <div class="span4">
                    <h2>Tomorrow</h2>
                    <ol class="event-list tomorrow unstyled">
                        <li>
                            <a href="#" class="event-name">Pynash Lunch</a><br />
                            11:30am - 12:30pm<br />
                            <a href="#" class="event-venue">12th South Taproom</a>
                        </li>
                        <li>
                            <a href="#">PhreakNIC 16</a><br />
                            noon through Sunday, November 11 at 1pm<br />
                            <a href="#" class="event-venue">Another Venue</a>
                        </li>
                    </ol>
                </div>
                <div class="span4">
                    <h2>Next two weeks</h2>
                    <ol class="event-day-list unstyled">
                        <li>
                            <h3><span class="event-day">Wednesday</span> <span class="event-date">Nov 7 2012</span></h3>
                            <ol class="event-list unstyled">
                                <li>
                                    <a href="#" class="event-name">Pynash Lunch</a><br />
                                    11:30am - 12:30pm<br />
                                    <a href="#" class="event-venue">12th South Taproom</a>
                                </li>
                                <li>
                                    <a href="#" class="event-name">NashMicro Users' Group Meeting</a><br />
                                    6 - 9pm<br />
                                    <a href="#" class="event-venue">Emma</a>
                                </li>
                                <li>
                                    <a href="#" class="event-name">PhreakNIC 16</a><br />
                                    noon through Sunday, November 11 at 1pm<br />
                                    <a href="#" class="event-venue">Another Venue</a>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h3><span class="event-day">Friday</span> <span class="event-date">Nov 9 2012</span></h3>
                            <ol class="event-list unstyled">
                                <li>
                                    <a href="#" class="event-name">Pynash Lunch</a><br />
                                    11:30am - 12:30pm<br />
                                    <a href="#" class="event-venue">12th South Taproom</a>
                                </li>
                                <li>
                                    <a href="#" class="event-name">PhreakNIC 16</a><br />
                                    noon through Sunday, November 11 at 1pm<br />
                                    <a href="#" class="event-venue">Another Venue</a>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h3><span class="event-day">Saturday</span> <span class="event-date">Nov 10 2012</span></h3>
                            <ol class="event-list unstyled">
                                <li>
                                    <a href="#" class="event-name">PhreakNIC 16</a><br />
                                    noon through Sunday, November 11 at 1pm<br />
                                    <a href="#" class="event-venue">Another Venue</a>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h3><span class="event-day">Monday</span> <span class="event-date">Nov 12 2012</span></h3>
                            <ol class="event-list unstyled">
                                <li>
                                    <a href="#" class="event-name">Pynash Lunch</a><br />
                                    11:30am - 12:30pm<br />
                                    <a href="#" class="event-venue">12th South Taproom</a>
                                </li>
                                <li>
                                    <a href="#" class="event-name">PhreakNIC 16</a><br />
                                    noon through Sunday, November 11 at 1pm<br />
                                    <a href="#" class="event-venue">Another Venue</a>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
            {% endblock %}
        </div>

        <footer>
            <div class="navbar navbar-fixed-bottom">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand">&copy; Nashvl.org 2012</a>

                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Feeds for this page <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">iCalendar</a></li>
                                    <li><a href="#">Atom</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{'almanac:static/js/vendor/jquery-1.8.2.min.js'|static_path}}"><\/script>')</script>
        <script src="{{'almanac:static/js/vendor/bootstrap.min.js'|static_path}}"></script>
        <script src="{{'almanac:static/js/main.js'|static_path}}"></script>
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>

